# Week 12 - Earn-Back Points Assignment #2

These exercises are entirely optional, but they provide good practice. And you can use them to earn extra points toward your semester grade.  Completing all the questions in this assignment correctly will earn you back 8 points.

There will be 2 more assignments like this between now and the end of the semester, giving you the opportunity to earn back a total of 32 points.

**If anything about the above rules is unclear, please message me on Canvas or via email**

---

## Introduction

The Centers for Medicare and Medicaid Services (CMS) provides lots of information online including a general directory of hospitals in the US. For this set of exercises, we'll be working with a file referred to as [Hospital General Information](https://data.cms.gov/provider-data/dataset/xubh-q36u). **Download this file as a CSV and upload it to your week 13 directory on Jupyter.**

Each of these exercises will involve finding an answer to a specific question and then submitting that.  Your answers must be computed using Python code within this notebook to earn full credit.

You do not need to write functions to compute the answers and do not need to provide any special documentation. You can simply calculate the answers inline in the notebook and then submit your answers using the `answers` dictionary, similar to how most of our part 1 assignments work.

In [1]:
import pandas as pd
answers = {}
df = pd.read_csv('./week13/Hospital_General_Information.csv')

---

## Tips

Before you get started, I want to show you a pattern that you might find useful. In the example below, I'm going to summarize a simple data frame, determine which name occurs most often, how often that is, and what the percent of total that represents.  This can be a useful pattern in general and you should be able to apply it below.

In [2]:
data = pd.DataFrame([
    ['Boal','Paul',45],
    ['Boal','Anny',47],
    ['Boal','James',75],
    ['Lester','Sarahlynn',48],
    ['Lester','Carolynn',70]
], columns=['Last Name','First Name','Age'])

data

  Last Name First Name  Age
0      Boal       Paul   45
1      Boal       Anny   47
2      Boal      James   75
3    Lester  Sarahlynn   48
4    Lester   Carolynn   70

In [3]:
# Which family (based on Last Name) has the most people?

# 1. Group by Last Name
# 2. Count how many people are in each family
# 3. Sort by value


by_last_name = data.groupby('Last Name')
family_count = by_last_name['Last Name'].count()
family_sorted = family_count.sort_values(ascending=False)

family_sorted

Last Name
Boal      3
Lester    2
Name: Last Name, dtype: int64

In [4]:
# 4. Extract the "index" (aka Last Name)
# 5. Choose the first value

top_family = list(family_sorted.index)[0]
top_family

'Boal'

In [5]:
# How many members does that family have?

# 6. Choose that family from the counts we already computed.

family_count[top_family]

3

In [6]:
# What percent of total is that?

# 7. Compute a total
# 8. Compute the percent

total = family_count.sum()
pct = family_count[top_family] / total

pct

0.6

---

### E12.01

How many columns are there in this data frame?

In [7]:
df.head()

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
0,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,Acute Care Hospitals,Government - Hospital District or Authority,...,0,10,1,NaN,8,8,NaN,12,9,NaN
1,010005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,Acute Care Hospitals,Government - Hospital District or Authority,...,0,10,0,NaN,8,8,NaN,12,11,NaN
2,010006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,LAUDERDALE,(256) 768-8400,Acute Care Hospitals,Proprietary,...,0,8,1,NaN,8,8,NaN,12,9,NaN
3,010007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,Acute Care Hospitals,Voluntary non-profit - Private,...,0,6,0,NaN,8,8,NaN,12,5,NaN
4,010008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,(334) 335-3374,Acute Care Hospitals,Proprietary,...,0,4,0,NaN,8,Not Available,5,12,5,NaN

In [8]:
answers['E12.01'] = str(len(df.columns))
answers['E12.01']

'38'

### E12.02

How many hospitals are there in this file? (Each row is one hospital.)

In [9]:
answers['E12.02'] = str(len(df["Facility Name"]))
answers['E12.02']

'5307'

### E12.03

How many hospitals from Missouri (state abbreviation MO) are in this file?

In [10]:
answers['E12.03'] = str(len(df.groupby("State").get_group("MO")))
answers['E12.03']

'119'

### E12.04

How many different ZIP Codes from Misouri are represented in this file?

In [11]:
answers['E12.04'] = str(df.groupby("State").get_group("MO")["ZIP Code"].nunique())
answers['E12.04']

'109'

### E12.05

Which of those ZIP Codes has the most hospitals?  If it's a tie, submit your answer as a list of ZIP Codes.  Make sure your answer is submitted as a string or list of strings. Do not submit the ZIP Code values as numbers.

In [12]:
max_zipcodes = df["ZIP Code"].value_counts()
max_zipcodes

76104    5
99508    5
75093    5
77030    5
83221    4
        ..
58545    1
60623    1
91342    1
81101    1
65536    1
Name: ZIP Code, Length: 4674, dtype: int64

In [13]:
max_zipcodes = df["ZIP Code"].value_counts()
max_cnt = 0
final_lst = []
for zip_code, cnt in zip(max_zipcodes.index, max_zipcodes.values):
    
    if max_cnt <= cnt:
        final_lst.append(zip_code)
        max_cnt = cnt
    else:
        break
final_lst

[76104, 99508, 75093, 77030]

In [14]:
answers['E12.05'] = str(final_lst)
answers['E12.05']

'[76104, 99508, 75093, 77030]'

### E12.06

Which state has the most hospitals?

In [15]:
answers['E12.06'] = str(df["State"].value_counts().idxmax())
answers['E12.06']

'TX'

### E12.07

How many different Hospital Types are there in this file?

In [16]:
answers['E12.07'] = str(df["Hospital Type"].nunique())
answers['E12.07']

'5'

### E12.08

Which Hospital Type has the greatest number of files?

In [17]:
answers['E12.08'] = str(df["Hospital Type"].value_counts().idxmax())
answers['E12.08']

'Acute Care Hospitals'

### E12.09

What percent of the total hospital count (represented as ##.##%, rounded to two decimal places) is represented in that Hospital Type?

In [18]:
hos_type = df["Hospital Type"].value_counts()
hos_type

Acute Care Hospitals                  3223
Critical Access Hospitals             1359
Psychiatric                            599
Childrens                               91
Acute Care - Department of Defense      35
Name: Hospital Type, dtype: int64

In [19]:
[str(round((val/sum(hos_type.values)) * 100, 2)) + "%" for val in df["Hospital Type"].value_counts().values]

['60.73%', '25.61%', '11.29%', '1.71%', '0.66%']

In [20]:
answers['E12.09'] = "60.73"

### E12.10

What percent of the total hospital count (represented as ##.##%, rounded to two decimal places) provide Emergency Services?

In [21]:
emergency_ser = df["Emergency Services"].value_counts()

In [22]:
answers['E12.10'] = str(round((emergency_ser.values[0]/sum(emergency_ser.values)) * 100, 2))
answers['E12.10']

'83.89'

---

Checking Your Work
---

After completing your work above and running each cell, you can check your answers by running the code below. 

The easiest way to do this is to use the `Kernel` -> `Restart Kernel and Run All Cells` menu option. This option restarts Python and runs every cell from top to bottom until it encounters an exception of some kind.  It will stop after running the cell below and outputing a summary of how many answers you have correct or incorrect.

In [23]:
import getpass
import boto3
import json

test = {
    "user": getpass.getuser(),
    "week": "week12EB",
    "answers": answers
}

client = boto3.client('lambda')

response = client.invoke(
    FunctionName="hds5210",
    InvocationType="RequestResponse",
    Payload=json.dumps(test))

result = json.loads(response['Payload'].read().decode('utf-8'))
# print(result)

try:
    print('{0:>7}{1:>30}{2:>10}'.format('Q#','Yours','Correct?'))
    for row in result.get('results'):
        print('{0:>7}{1:>30}{2:>10}'.format(str(row[0]),str(row[1]),str(row[2])))
except:
    print(result)

     Q#                         Yours  Correct?
 E12.01                            38        OK
 E12.02                          5307        OK
 E12.03                           119        OK
 E12.04                           109        OK
 E12.05  [76104, 99508, 75093, 77030]        NO
 E12.06                            TX        OK
 E12.07                             5        OK
 E12.08          Acute Care Hospitals        OK
 E12.09                         60.73        OK
 E12.10                         83.89        OK

## Submit your work to github in your week 13 folder by 12/5 11:59 PM